/* Ejemplos de mixins reflejados en _collection */
@mixin grid__collection-position {
    gap: 60px;
    justify-items: center;
    margin-top: 80px;
    text-align: center;
    margin: 50px;
}
@mixin grid__collection--h2 {
    background-color:map-get($colores,color2);
    text-align: center;
    color:map-get($colores,color1);
}
@mixin h1-style__collection {
    background-color:map-get($colores,color2);
    text-align: center;
    color:map-get($colores,color1);
    padding-top: 50px;
}
@mixin grid__collection-hover {
    transition: 1s;
    transform: scale(1.1);
}

